.App {
  text-align: center;
}

.board-container {
  margin: 0.5rem;
  padding: 0.5rem;
}

.board-container > .board-box {
  width: 20%;
  height: 6rem;
  line-height: 6rem;
  position: relative;
  margin: 1%;
  display: inline-block;
}
